html {
  height: 100%;
  width: 100%;
}
body {
	margin: 0;
	font-family: "Factoria";
}
@font-face {
	font-family: "Factoria";
	src: 
		url('Factoria-Demi.ttf');
}
#game {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}
#scores table {
	max-width: 33%;
	margin: auto;
	margin-top: 3rem;
}
#scores td {
	border: 1px solid;
	border-collapse: collapse;
}
#away,#home {
	max-height: 96vh;
	/*display: inline;*/
	width: 50vw;
	text-align: center;
	overflow-y: hidden;
	
}
#away img, #home img {
	height: 2rem;
	width: auto;
}
#away h2, #home h2 {
	/*word-spacing: 37.5vw;*/
	margin-top: 0;
	display: block;
	width: 45vw;
}
#away {
	background-color: gray;
	color: white;
}
.featured {
	height: 8rem !important;
	margin-left: auto;
	margin-right: auto;
}
.dueUp img {
	height: 4rem !important;
}
ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
.vertJust {
	display: grid;
	justify-content: center;
	height: 96vh;
}
.vertJust h3 {
	margin: 0px;
}
#away .winProb {
	text-align: left;
}
#home .winProb {
	text-align: right;
}
#homeScore, #awayName {
	float: left;
}
#homeName, #awayScore {
	float: right;
}
#games {
	height: 100vh;
	margin: 0;
	padding: 0;
}
#away h2,#away h3, #home h2, #home h3 {
	margin-bottom: 0;
}
.slider {
	/* height: 100%; */
	/* width: 100%; */
	margin: 0;
	background-color: gray;
	/* background-color: white; */
	/* -webkit-appearance: none; */
	/* -moz-appearance: none; */
	/* appearance: none; */
	/* border: none; */
	text-align: right;
	transition:all 0.5s ease;
	display: inline-block;
	color: white;
}
#homeWPSpan {
	text-align: left;
	height: 100%;
	transition:all 0.5s ease;
}
#slide {
	padding:0;
	/* height: 3vh; */
}
table, td, tr {
	border-collapse: collapse;
}
tr:last-child td, tr:last-child{
	border-top: 1px solid black;
}
/* #slider::-webkit-progress-value , #slider::-moz-progress-bar { */
	/* background: gray; */
	/* border: none; */
	/* content: 'hello'; */
/* } */
p {
	margin-top: 0;
}
#homeWPImg, #awayWPImg {
	height: 3vh;
	width: auto;
}