:root {
	--second: url('');
	--first: url('');
	--third: url('');
}
#offLabel {
	position: fixed;
	right: 10px;
	bottom: 10px;
}
.gameOn #offLabel {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.gameOn #sett {
	background-color: rgba(0,0,0,0.5);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}
#scores::before {
	background-image: url('https://img.mlbstatic.com/mlb-images/image/upload/t_2x1/t_w1536/mlb/owgfkohnpj1yxwhwpy0w.jpg');
	filter: blur(20px);
	-webkit-filter: blur(20px);
	position: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100dvh;
	width: 100dvw;
	z-index: -1;
	content:"";
	background-position: center;
	top:0;
}
html {
  height: 100%;
  width: 100%;
}
body {
	margin: 0;
	font-family: "Factoria";
	touch-action: pan-y;
}
@font-face {
	font-family: "Factoria";
	src: 
		url('Factoria-Demi.ttf');
}
.base {
	position: absolute;
	/* mix-blend-mode: difference; */
	left: 50dvw;
	top: 15dvh;
	font-size: 3rem;
	color: lightgray !important;
	-webkit-text-stroke: 1px black !important;
	text-shadow: none !important;
}
.base::after {
	content: '\25c7';
}
.base.runner::after {
	content: '\25c6';
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 50% 73%;
	background-color: gold;
	background-origin: content-box;
}
#firstBase {
	transform: translateX(0%);
}
#thirdBase::after {
	background-image: var(--third);
}
#secondBase::after {
	background-image: var(--second);
}
#firstBase::after {
	background-image: var(--first);
}
#thirdBase {
	transform: translateX(-100%);
}
#secondBase {
	transform: translate(-50%,-32%);
}
#game {
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}
#scores img {
	height: 1rem;
	width: auto;
	float: left;
}
#scores table {
	max-width: 40%;
	margin: auto;
	margin-top: 3rem;
}
#scores table, #scores td, #scores tr {
	border-collapse: separate !important;
	/* border-spacing: 0; */
		border-spacing: 0.5rem;
}
#scores td {
	border: 1px solid;
	/* border-right: 1px solid; */
	border-collapse: separate !important;
	border-radius: 10px;
	/* width: 11dvw; */
	cursor: pointer;
	padding: 5px;
	backdrop-filter: contrast(80%);
	-webkit-backdrop-filter: contrast(80%);
}
#scores td:first-child {
	/* border-left: 1px solid; */
}
#scores tr:first-child td {
	/* border-top: 1px solid; */
}
#away,#home {
	max-height: 96.3dvh;
	/*display: inline;*/
	width: 50dvw;
	text-align: center;
	overflow-y: hidden;
	overflow: scroll;
	
}
#away img, #home img {
	height: 2rem;
	width: auto;
}
#away h2, #home h2 {
	/*word-spacing: 37.5vw;*/
	margin-top: 0;
	display: block;
	width: 49vw;
}
td #away {
	background-color: gray;
	color: white;
}
.featured {
	height: 8rem !important;
	margin-left: auto;
	margin-right: auto;
}
#awayNm::after, #homeNm::after {
	content: '\a' attr(alt) '';
	font-size: 0.75rem;
}
#awayNm, #homeNm {
	margin-top:0;
	padding-top: 0;
}
.dueUp img {
	height: 4rem !important;
}
ul {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
.vertJust {
	display: grid;
	justify-content: center;
	height: 96.3dvh;
}
.vertJust h3 {
	margin: 0px;
}
#away .winProb, #innNum {
	text-align: left;
	float: left;
}
#home .winProb, #topBot {
	text-align: right;
	float: right;
}
#topBot {
	right: 50.25dvw;
	position: absolute;
}
#innNum {
	left: 50.25dvw;
	position: absolute;
}
#awayDesc {
	position: absolute;
	right: 50dvw;
}
#homeDesc {
	left: 50dvw;
	position: absolute;
}
#homeDesc, #awayDesc {
	top: 27dvh;
}
#homeScore, #awayName {
	float: left;
}
#homeName, #awayScore {
	float: right;
}
#games {
	height: 100dvh;
	margin: 0;
	padding: 0;
}
#away h2,#away h3, #home h2, #home h3 {
	margin-bottom: 0;
}
#awayWPSpan {
	/* height: 100%; */
	/* width: 100%; */
	margin: 0;
	/* background-color: gray; */
	/* background-color: white; */
	/* -webkit-appearance: none; */
	/* -moz-appearance: none; */
	/* appearance: none; */
	/* border: none; */
	text-align: right;
	transition:all 0.5s ease;
	display: inline-block;
	color: white;
}
#homeWPSpan {
	text-align: left;
	height: 100%;
	transition:all 0.5s ease;
	display: inline-block;
}
#slide {
	padding:0;
	/* height: 3vh; */
}
table, td, tr {
	border-collapse: collapse;
}
#game tr:last-child td, tr:last-child{
	border-top: 1px solid black;
}
/* #slider::-webkit-progress-value , #slider::-moz-progress-bar { */
	/* background: gray; */
	/* border: none; */
	/* content: 'hello'; */
/* } */
p {
	margin-top: 0;
}
#homeWPImg, #awayWPImg {
	height: 3dvh;
	width: 3dvh;
}
.away {
	background-color: darkgray;
	color: white;
}
.phi.home.day, .phi.jersey_3 {
	background-color: #fffdd0 !important;
	text-shadow: 0.5px 0 0 #284898, 0 0.5px 0 #284898, -0.5px 0 0 #284898, 0 -0.5px 0 #284898;
}
.phi.home.night.friday #homeWPImg, .phi.jersey_5 #homeWPImg {
	content: url('logos/phi-fri.png');
	background-color: #00163b !important;
	border-radius: 50% !important;
	height: 3dvh !important;
	width: auto;
}
.phi.home.day #homeWPImg, .phi.jersey_3 #homeWPImg {
	content: url('logos/phi-day.png');
	background-color: #284898 !important;
	border-radius: 50% !important;
	height: 3dvh !important;
	width: auto;
}
.phi.home.thursday, .phi.jersey_4 {
	color: #6f263d  !important;
	background-color: #6bace4 !important;
}
.phi.home.thursday #homeWPImg, .phi.jersey_4 #homeWPImg {
	content: url('logos/phi-thurs.png');
	background-color: #6f263d !important;
	border-radius: 50% !important;
	width: 3dvh !important;
}
.phi.home.night.friday#homeWPSpan, .phi.jersey_5#homeWPSpan {
	/* background-color: #0397d6 !important; */
	background: #0397d6 !important;
}
.phi.home.night.friday, .phi.jersey_5 {
	background: linear-gradient(#0397d6 30%, #00163b 70%) !important;
	/* color: #ffde00 !important; */
}
.phi.home.night.friday #innNum, .phi.home.night.friday #homeWP, .phi.home.night.friday #homeDesc, .phi.home.night.friday #homeScore, .phi.home.night.friday #homeName, .phi.home.night.friday h3, .phi.home.night.friday li, .phi.home.night.friday p, .phi.jersey_5 #innNum, .phi.jersey_5 #homeWP, .phi.jersey_5 #homeDesc, .phi.jersey_5 #homeScore, .phi.jersey_5 #homeName, .phi.jersey_5 h3, .phi.jersey_5 li, .phi.jersey_5 p {
	color: transparent !important;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: url('logos/phi-fri-text.png');
	background-size: contain;
}
.phi.home.night.friday #homeNm, .phi.home.night.friday .showSett, .phi.jersey_5 #homeNm, .phi.jersey_5 .showSett {
	color: rgb(255,202,36) !important;
}
.phi.home, .phi.jersey_1 {
	background-color: #fff;
	color: #e81828;
}
.phi.away, .phi.jersey_2 {
	/* background-color: #e81828; */
	/* color: #FFF; no more red jerseys in 2024*/
	color: #e81828;
	background-color: silver;
}
.stl.home.friday, .stl.jersey_5 {
	background-color: #c41e3a !important;
	color: #fff !important;
}
.stl.home.friday #homeWPImg, .stl.jersey_5 #homeWPImg {
	content: url('logos/stl-cc.png');
}
.stl.home, .stl.jersey_1 {
	color: #c41e3a;
	background-color: #fff;
}
.stl.away, .stl.jersey_2 {
	color: #c41e3a;
	background-color: silver;
}
.stl.saturday.home, .stl.jersey_3 {
	background-color: #fffdd0 !important;
}
.stl.saturday.away, .stl.jersey_4 {
	background-color: #54a3db !important;
}
.tb.home, .tb.jersey_1 {
	background-color: #8fbce6;
}
.tb.home.friday, .tb.jersey_4 {
	background-color: #fff;
	background: linear-gradient(65deg, #580099 30%, green 50%, #f5d130 60%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.tb.home.friday #innNum, .tb.home.friday #homeWP, .tb.home.friday #homeDesc, .tb.home.friday #homeScore, .tb.home.friday #homeName, .tb.jersey_4 #innNum, .tb.jersey_4 #homeWP, .tb.jersey_4 #homeDesc, .tb.jersey_4 #homeScore, .tb.jersey_4 #homeName {
	background: linear-gradient(65deg, #580099 15%, green 50%, #f5d130 80%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}
.tb.home.friday #homeWPImg, .tb.jersey_4 #homeWPImg {
	content: url('logos/tb-fri.png');
}
.tb {
	color: #092c5c;
}
.tb.away, tb.jersey_2 {
	background-color: #092c5c;
	color: white !important;
	/* text-stroke: 0.5px #8fbce6; */
	/* -webkit-text-stroke: 0.5px #8fbce6; */
	/* text-shadow: 1px 0 0 #8fbce6, 0 1px 0 #8fbce6, -1px 0 0 #8fbce6, 0 -1px 0 #8fbce6; */
}
.tb.home.saturday, .tb.jersey_5 {
	color: #65bc47 !important;
	background: url('logos/tb-sat-bg.png') !important;
	background-size: contain;
	background-repeat: repeat;
}
.tb.home.saturday #homeWPImg, .tb.jersey_5 #homeWPImg {
	content: url('logos/tb-sat.png');
}
.tb.home.saturday#homeWPSpan, .tb.jersey_5#homeWPSpan {
	background: url('logos/tb-sat-upper.png') !important;
	background-size: cover !important;
}
.tex.home, .tex.jersey_1 {
	color: #003278;
}
.tex.away, .tex.jersey_2 {
	background-color: #003278;
}
.tex.home.friday, .tex.home.saturday, .tex.jersey_5 {
	background-color: #fffdd0 !important;
	color: #c0111f;
}
.tex.home.friday #homeWPImg, .tex.home.saturday #homeWPImg .tex.jersey_5#homeWPImg{
	content: url('logos/tex-fri-sat.png');
	height: 2.5dvh;
	width: auto;
	padding: .25dvh;
	border-radius: 50%;
	background-color: black;
}
.tor.home.wednesday, .tor.home.friday, .tor.jersey_5 {
	background-color: #141823 !important;
	color: #364a9e !important;
}
.tor.home.wednesday #homeWPImg, .tor.home.friday #homeWPImg .tor.jersey_5#homeWPImg{
	content: url('logos/tor-wed-fri.png');
}
.tor.home, .tor.jersey_1 {
	color: #134a8e;
}
.tor.away, .tor.jersey_2 {
	background-color: #134a8e;
}
.tor.jersey_6 {
	color: white;
	background-color: #e8291c;
}
.was.home, .was.jersey_1 {
	color: #ab0003;
	/* -webkit-text-stroke: 0.5px #14225a; */
	text-shadow: 0.01em 0 0 #14225a, 0 0.01em 0 #14225a, 0 -0.01em 0 #14225a, -0.01em 0 0 #14225a;
}
.was.away, .was.jersey_2 {
	/* background-color: #14225a; new uniforms in 2024*/
	/* -webkit-text-stroke: 0.5px white; */
	/* text-stroke: 0.5px white; */
	/* text-shadow: 1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, -1px 0 0 white,2px 0 0 #ab0003, 0 2px 0 #ab0003, 0 -2px 0 #ab0003, -2px 0 0 #ab0003; */
	color: #14225a;
}
.was.home.friday, .was.home.saturday, .was.jersey_5 {
	background: url('logos/was-frisat-bg.png') !important;
	background-size: contain !important;
	background-repeat: repeat-x !important;
}
.was.home.friday, .was.home.saturday, .was.jersey_5 {
	/* background-color: dimgray; */
	color: #141823;
	/* text-shadow: 1px 0 0 #14225a, 0 1px 0 #14225a, 0 -1px 0 #14225a, -1px 0 0 #14225a, -1.5px 1.5px 0 #ffb7ae; */
}
#homeWPSpan.was.home.saturday, #homeWPSpan.was.home.friday, #homeWPSpan.was.jersey_5 {
	background: #9eb4ca !important;
}
.was.home.friday #homeWPImg, .was.home.saturday #homeWPImg, .was.jersey_5 #homeWPImg {
	content: url('logos/was-frisat.png');
	/* background-color: gray; */
	/* border-radius: 50%; */
}
.ari.home, .ari.jersey_1 {
	/* -webkit-text-stroke: 0.03em #30ced8; */
	/* text-stroke: 0.03em #30ced8; */
	color: #a71930;
}
.ari.away, .ari.jersey_2 {
	color: #a71930;
	/* -webkit-text-stroke: 0.03em #a71930; */
	/* text-stroke: 0.5px #a71930; */
}
.ari.home.friday, .ari.jersey_5 {
	background-color: #40376e !important;
	color: #3da3b2 !important;
	text-stroke: none !important;
	-webkit-text-stroke: none !important;
}
.ari.home.friday #homeWPImg, .ari.jersey_5 #homeWPImg {
	content: url('logos/ari-fri.png');
}
.ari.jersey_3 {
	background-color: black;
}
.ari.jersey_4 {
	background-color: #a71930;
	color: #e3d4ad;
}
.atl {
	color: #ce1141;
}
.atl.jersey_4 {
	background-color: #13274f;
}
.atl.jersey_3 {
	color: #13274f;
	background-color: #ce1141;
}
.atl.home.night.saturday, .atl.jersey_5 {
	background-color: rgb(0,61,166);
	color: white;
	text-shadow: 1px 0px 0px rgb(219,0,49), 0px 1px 0px rgb(219,0,49),-1px 0px 0px rgb(219,0,49),0px -1px 0px rgb(219,0,49);
}
.atl.home.night.saturday #homeWPImg, .atl.jersey_5 #homeWPImg {
	content: url('logos/atl-sat.png');
	background-color: white;
	border-radius: 50%;
}
.bal.home, .bal.jersey_1 {
	color: #df4601;
}
.bal.away, .bal.jersey_2 {
	color: #df4601;
	/* background-color: #000; */
}
.bal.jersey_3 {
	background-color: #000;
	color: #df4601;
}
.bal.jersey_4 {
	background-color: #df4601;
	color: #000;
}
.bal.jersey_5 {
	color: #fff;
	background-color: #000;
}
.bal.jersey_5 #homeWPImg {
	content: url('logos/bal-cc.png');
}
.bos.home.friday {
	color: #0c2340;
	text-shadow: 1px 0px 0px white, 0px 1px 0px white,-1px 0px 0px white,0px -1px 0px white;
}
.bos.away.friday {
	/* text-shadow: 1px 0px 0px white, 0px 1px 0px white,-1px 0px 0px white,0px -1px 0px white; */
}
.bos.jersey_5 {
	background-image: url('logos/bos-25cc-bg.jpg');
	background-size: cover;
	color: white;
}
.bos.jersey_5 #homeWPImg {
	content: url('logos/bos-25cc.png');
}
.bos.jersey_4 {
	color: #307fe2 !important;
	background-color: #ffd100 !important;
}
.bos.jersey_4 #homeWPImg {
	content: url('logos/bos-sat.png') !important;
	border-radius: 50%;
}
.bos.home, .bos.jersey_1, .bos.jersey_6 {
	color: #bd3039;
	background-color: #fff;
}
.bos.away, .bos.jersey_2 {
	/* background-color: #0c2340; */
	color: #bd3039;
}
.bos.jersey_3 {
	background-color: #bd3039;
	color: #0c2340;
}

.cws.away, .cws.jersey_2 {
	/* background-color: #000; */
	color: #000;
}
.cws.home.sunday {
	/* color: #002663; */
}
.cws.home.sunday #homeWPImg {
	/* content: url('logos/cws-sun.png'); */
	/* background-color: #cc092f; */
	/* border-radius: 50%; */
	/* width: 3dvh; */
	/* height: auto; */
}

.cws.home.friday, .cws.jersey_5 {
	background-color: #ca1429;
	color: black;
}
.cws.jersey_5 #homeWPImg {
	content: url('logos/cws-cc25.png');
}
.cws.jersey_3, .cws.jersey_4 {
	color: white;
	background-color: black;
}

.chc.home, .chc.jersey_1 {
	color: #0e3386;
	/* color: #cc3433; */
}
.chc.away, .chc.jersey_2 {
	background-color: gray;
	color: #0e3386;
}
.chc.jersey_3 {
	color: white;
	background-color: #0e3386;
}
.chc.jersey_4 {
	background-color: #6faadd;
	color: #cc3433;
}
.chc.jersey_4 #homeWPImg {
	content: url('logos/chc-alt.png');
}
.chc.home.friday, .chc.jersey_5 {
	background-color: #32374e;
	color: #fff;
	-webkit-text-stroke: 0.5px #6f96cb;
}
.chc.home.friday #homeWPImg, .chc.jersey_5 #homeWPImg {
	content: url('logos/chc-fri.png');
	border-radius: 50%;
}
.cin.home, .cin.jersey_1, .cin.jersey_4 {
	color: #c6011f;
}
.cin.away, .cin.jersey_2 {
	background-color: gray;
	color: #c6011f;
}
.cin.jersey_3 {
	background-color: #c6011f;
	color: white;
}
.cin.home.friday, .cin.jersey_5 {
	background-color: #000;
	/* -webkit-text-stroke: 0.5px #c6011f; */
}
.cin.jersey_5 #homeWPImg {
	content: url('logos/cin-cc.png');
}
#homeWPSpan.cle.home.friday, #homeWPSpan.cle.jersey_5 {
	background: url('logos/cle-fri-wpbg.png') !important;
	background-size: contain !important;
	background-repeat: repeat-x !important;
}
.cle.home.friday, .cle.jersey_5 {
	background: url('logos/cle-fri-bg.png') !important;
	color: #fff !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.cle.home, .cle.jersey_1 {
	color: #e50022;
	/* color: #00385d; */
}
.cle.away, .cle.jersey_2 {
	color: #00385d;
	/* color: #e50022; */
}
.cle.jersey_3 {
	color: #00385d;
	background-color: #e50022;
}
.cle.jersey_4 {
	background-color: #00385d;
	color: #e50022;
}
.col.home, .col.jersey_1 {
	/* background-color: #333366; */
	color: #131413;
}
.col.away, .col.jersey_2 {
	background-color: #c4ced4;
	color: #333366;
}
.col.home.friday, .col.jersey_5 {
	/* background-color: #4b4bbf; */
	background: linear-gradient(#76aae1, #76aae1 33%, #4b4bbf 33%, #4b4bbf) !important;
	color: #ff175f;
}
.col.home.friday#homeWPSpan, .col.jersey_5#homeWPSpan {
	background: #76aae1 !important;
}
.col.home.friday #homeWPImg, .col.jersey_5#homeWPImg {
	content: url('logos/col-fri.png');
}
.col.jersey_3 {
	background-color: #333366;
	color: #c4ced4;
}
.det.home.friday.night, .det.jersey_5 {
	background: url('logos/det-fri-bg.png') !important;
	background-position: center !important;
	background-size: auto auto;
	background-repeat: no-repeat;
	background-color: #141823;
	color: #fff !important;
}
#homeWPSpan.det.home.friday.night, #homeWPSpan.det.jersey_5 {
	background: #141823 !important;
}
.det.home.friday.night #homeWPImg, .det.jersey_5 #homeWPImg {
	content: url('logos/det-fri.png');
}
.det.home, .det.jersey_1 {
	color: #0c2340;
}
.det.away, .det.jersey_2 {
	background-color: gray;
	color: #0c2340;
	-webkit-text-stroke: 0.03em #fa4616;
	text-stroke: 0.03empx #fa4616;
}
.hou.home, .hou.jersey_1 {
	color: #002d62;
	/* background-color: #eb6e1f; */
}
.hou.away, .hou.jersey_2 {
	/* color: #eb6e1f; */
	color: #002d62;
}
.hou.home.monday, .hou.jersey_5 {
	background-color: #fff;
	color: #15325a;
}
.hou.home.monday #homeWPImg, .hou.jersey_5 #homeWPImg {
	content: url('logos/hou-mon.png');
}
.hou.jersey_4 {
	color: #eb6e1f;
	background-color: #002d62;
}
.hou.jersey_3 {
	background-color: #eb6e1f;
	color: #002d62;
}
.kc.home, .kc.jersey_1 {
	color: #004687;
}
.kc.away, .kc.jersey_2 {
	/* color: #fff; */
	color: #004687;
}
.kc.home.day, .kc.jersey_3 {
	background-color: #6bace4 !important;
	color: #fff !important;
}
.kc.jersey_4 {
	color: #fff;
	background-color: #004687;
}
.kc.jersey_5 {
	color: #fff;
	background-color: #13294b;
}
.kc.jersey_5 #homeWPImg {
	content: url('logos/kc-cc.png');
}
.ana.home, .ana.jersey_1 { /*.laa.home {*/
	color: #ba0021;
}
.ana.away {/*.laa.away {*/
	color: #ba0021;
	/* color: #fff; */
}
.ana.jersey_3 {
	background-color: #ba0021;
	color: #fff;
}
.ana.jersey_5 {
	color: #da129c;
}
.la.home, .la.away, .la.jersey_1, .la.jersey_2, .la.jersey_3, .la.jersey_6 {
	color: #005a9c;
}
.la.jersey_4  {
	background-color: #005a9c;
	color: #fff;
}
.la.jersey_5 {
	color: #11284b;
}
.la.jersey_5#homeWPSpan {
	background-color: #11284b;
}
.la.jersey_5 #homeWPImg {
	content: url('logos/lad-cc.png');
}
.mia {
	text-stroke: 0.375px #00a3e0;
	-webkit-text-stroke: 0.375px #00a3e0;
	color: #000;
	text-shadow: -1px 0 0 #ef3340, 0 1px 0 #ef3340;
}
.mia.home.night.friday, .mia.away.friday, .mia.away.saturday, .mia.jersey_5, .mia.jersey_3 {
	background-color: #000;
}
.mia.home.sunday, .mia.home.day, .mia.jersey_4 {
	color: #000 !important;
	text-stroke: none /*0.5px #fff*/ !important;
	-webkit-text-stroke: none /*0.5px #fff*/ !important;
	background-color: #00a3e0;
}
.mia.home.saturday, .mia.jersey_5 {
	background-color: #000 !important;
	color: #23b0ce !important;
	text-shadow: none !important;
	-webkit-text-stroke: none !important;
	background-image: url('logos/mia-sat-bg.png') !important;
	background-size: contain !important;
	background-repeat: no-repeat;
}
.mia.home.sunday #homeWPImg, .mia.home.day #homeWPImg, .mia.home.night.friday #homeWPImg, .mia.away.friday #awayWPImg, .mia.away.saturday #awayWPImg,  {
	/* content: url('logos/mia-alt.png'); */
	/* border-radius: 50%; */
}
/* .mia.home.friday #homeWPImg { */
	/* content: url('logos/mia-fri.png'); */
	/* border-radius: 50%; */
/* } */
/* .mia.home.saturday { */
	/* color: #009ca6; */
	/* text-stroke: 0.5px black; */
	/* -webkit-text-stroke: 0.5px black; */
/* } */
.mia.home.saturday #homeWPImg, .mia.jersey_5 #homeWPImg {
	content: url('logos/mia-sat-305.png');
	border-radius: 50%;
}
#homeWPSpan.mia.home.saturday, #homeWPSpan.mia.jersey_5 {
	background-image: none !important;
}
.mil.home, .mil.jersey_1, .mil.jersey_3 {
	color: #12284b;
	/* text-stroke: 0.5px #ffc52f; */
	/* -webkit-text-stroke: 0.5px #ffc52f; */
	background-color: #fffdd0;
}
.mil.jersey_3 {
	background-color: white !important;
}
.mil.away, .mil.jersey_2 {
	color: #12284b;
	/* color: #ffc52f; */
}
.mil.home.friday, .mil.jersey_5 {
	background-color: #74b0e6;
	color: #ffc52f;
	text-shadow: -2px 2px #12284b;
}
.mil.home.friday #homeWPImg, .mil.jersey_5 #homeWPImg {
	content: url('logos/mil-home-fri.png');
	height: 3dvh;
	width: auto;
}
.mil.home.friday p, .mil.home.friday h3,.mil.home.friday h2,.mil.home.friday #homeWP, .mil.home.friday ul {
	/* filter: drop-shadow(-2px 2px #12284b); */
	-webkit-text-stroke: unset;
}
.mil.home.friday p h3, .mil.jersey_5 p h3 {
	filter: unset;
}
.min.home.friday, .min.jersey_5 {
	background-color: #054c79 !important;
	color: white !important;
}
.min.home.friday #homeWPImg, .min.jersey_5#homeWPImg {
	content: url('logos/min-fri.png');
}
.min.home, .min.jersey_1 {
	color: #d31145;
}
.min.away, .min.jersey_2 {
	background-color: #002b5c;
}
.min.home.sunday, .min.jersey_3 {
	background-color: #fffdd0;
	color: #002b5c;
}
.min.jersey_4 {
	color: white;
	background-color: #002b5c;
}
.nyy, .nyy.jersey_1 {
	color: #0c2340 !important;
}
.nyy.away, .nyy.jersey_2 {
	/* text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; piping removed in 2024*/
	background-color: gray;
}
.nym.home.saturday, .nym.jersey_5 {
	background-color: #333 !important;
	color: #000 !important;
}
#homeWPSpan.nym.home.saturday, #homeWPSpan.nym.jersey_5 {
	background-image: url('logos/nym-sat-bg.png') !important;
	background-size: auto 100% !important;
	background-repeat: repeat;
}
.nym.home.saturday #homeWPImg, .nym.jersey_5 #homeWPImg {
	content: url('logos/nym-sat.png');
}
.nym.home, .nym.jersey_1 {
	color: #002d72;
	/* color: #ff5910; */
}
.nym.away, .nym.jersey_2 {
	color: #002d72;
}
.nym.jersey_3 {
	color: #002d72;
	background-color: black;
}
.nym.jersey_4 {
	background-color: #002d72;
	color: #ff5910;
}
.ath.home, .ath.jersey_1 {
	color: #003831;
	/* color: #efb21e; */
}
.ath.away, .ath.jersey_2 {
	color: #003831;
	/* -webkit-text-stroke:1px #efb21e; */
	/* text-stroke:1px #efb21e; */
	/* text-shadow: 0.03em 0 0 #efb21e, 0 0.03em 0 #efb21e, -0.03em 0 0 #efb21e, 0 -0.03em 0 #efb21e; */
}
.ath.jersey_3 {
	background-color: #115740;
	color: white;
}
.ath.jersey_4 {
	background-color: #efb21e;
	color: #0038631;
}
.pit.home, .pit.jersey_1 {
	/* -webkit-text-stroke: 0.5px #fdb827; */
	/* text-stroke: 0.5px #fdb827; */
	text-shadow: 0.03em 0 0 #fdb827, 0 0.03em 0 #fdb827, -0.03em 0 0 #fdb827, 0 -0.03em 0 #fdb827;
}
.pit.away, .pit.jersey_2 {
	/* -webkit-text-stroke: 0.5px #fdb827; */
	/* text-stroke: 0.5px #fdb827; */
	text-shadow: 0.03em 0 0 #fdb827, 0 0.03em 0 #fdb827, -0.03em 0 0 #fdb827, 0 -0.03em 0 #fdb827;
	color: black;
}
.pit.home.friday, .pit.jersey_5 {
	background-color: #fdb827;
	-webkit-text-stroke: unset;
}
.pit.jersey_3, .pit.jersey_4 {
	background-color: black;
	color: #fdb827;
}
.sd, .sd.home, .sd.jersey_1 {
	color: #2f241d;
}
.sd.away, .sd.jersey_2 {
	background-color: #cec6c0;
}
.sd.home.friday, .sd.jersey_5 {
	background-color: rgb(118,200,177);
	color: rgb(238,71,143);
}
.sd.home.friday #homeWPImg, .sd.jersey_5 #homeWPImg {
	content: url('logos/sd-fri.png');
	padding-left: .25vw;
}
.sd.jersey_3 {
	color: #ffc425;
	background-color: #2f241d;
}
.sd.jersey_4 {
	background-color: #78866b;
}
.sf.home, .sf.jersey_1 {
	background-color: #efd19f;
}
.sf {
	color: #000;
	-webkit-text-stroke: 0.5px #fd5a1e;
	text-stroke: 0.5px #fd5a1e;
}
.sf.home.tuesday, .sf.jersey_5 {
	/* background-color: #fff; */
	color: #fd5a1e;
	background-color: #000;
	text-stroke: unset !important;
	-webkit-text-stroke: unset !important;
	
}
.sf.home.tuesday#homeWPImg, .sf.jersey_5#homeWPImg {
	content: url('logos/sf-tue.png');
}
.sf.home.tuesday #innNum, .sf.home.tuesday #homeWP, .sf.home.tuesday #homeDesc, .sf.home.tuesday #homeScore, .sf.home.tuesday #homeName, .sf.home.tuesday h3, .sf.home.tuesday li, .sf.home.tuesday p, .sf.jersey_5 #innNum, .sf.jersey_5 #homeWP, .sf.jersey_5 #homeDesc, .sf.jersey_5 #homeScore, .sf.jersey_5 #homeName, .sf.jersey_5 h3, .sf.jersey_5 li, .sf.jersey_5 p {
	color: transparent !important;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: url('logos/sf-tue-text.png');
	background-size: contain;
}
.sf.home.friday, .sf.jersey_3 {
	background-color: #fd5a1e;
}
.sf.jersey_4 {
	background-color: black;
	color: #fd5a1e;
}
.sea.home, .sea.jersey_1 {
	background-color: #0c2056;
	color: #c4ced4;
}
.sea.away, .sea.jersey_2 {
	background-color: #005c5c;
	color: #c4ced4;
}
.sea.home.friday, .sea.jersey_5 {
	background-color: #002878;
	color: #ffcc00;
}
.sea.home.friday #homeWPImg, .sea.jersey_5#homeWPImg {
	content: url('logos/sea-fri.png');
}
.sea.home.sunday, .sea.jersey_3 {
	background-color: #fffdd0;
	color: #002878;
	-webkit-text-stroke: 0.5px #ffcc00;
	text-stroke: 0.5px #ffcc00;
}
.sea.jersey_4 {
	background-color: #005c5c;
	color: #c4ced4;
}
/* .away { */
	/* background-color: gray; */
	/* color: white; */
/* } */
/* #scores table, #scores tr:first-child td:first-child { */
	/* border-top-left-radius: 10px; */
/* } */
/* #scores table, #scores tr:last-child td:first-child { */
	/* border-bottom-left-radius: 10px; */
/* } */
/* #scores table, #scores tr:first-child td:last-child { */
	/* border-top-right-radius: 10px; */
/* } */
/* #scores table, #scores tr:last-child td:nth-child(3) { */
	/* border-bottom-right-radius: 10px; */
/* } */
#popUp, .gameOn#sett {
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	left: 50dvw;
	top: 50dvh;
	transform: translate(-50%, -50%);
	height: 50dvh;
	width: 50dvw;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	text-align: center;
	display: none;
	color: white;
	border-radius: 15px;
}
#popUp p {
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.close::after {
	content: '\d7';
}
.close, .gameOn #closeSett {
	display: block;
	float: right;
	font-size: 1.5rem;
	margin-right: 2%;
}
#closeSett {
	display: none;
}
.showSett::before {
	content: '\2699';
	font-size: 3rem;
	position: absolute;
	right: 0;
}
.showSett {
	position: absolute;
	right: 0;
	bottom: 4rem;
}
